@font-face {font-family: 'Comfortaa', sans-serif;src: url(fonts/Comfortaa.ttf);}
html{overflow-x: hidden;font-family: 'Raleway', sans-serif;}
br{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
hr.style1{border-top: 1px solid #FFF;}
