@font-face {font-family: 'Raleway', sans-serif;src: url(fonts/Raleway-Regular.ttf);}
html{overflow-x: hidden;font-family: 'Raleway', sans-serif;}
br{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;}
